@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}


body {
	background-image: linear-gradient(90deg, #000000ee, #3a383b);
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.courses-container {
	
}

.course {
	background-color: #a06868d7;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(255, 0, 0, 0.808);
	display: flex;
	max-width: 100%;
	margin: 50px;
	overflow: hidden;
	padding: 10px;
	width: 95%;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course h5 {
	letter-spacing: 1px;
	margin: 10px 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
}


.course-preview {
	background-color: #151415e2;
	color: #fff;
	padding: 10px;
	max-width: 50%;
}

.course-preview a {
	color: #6b2222;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: #000000ee;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 10px;
	padding: 15px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	letter-spacing: 1px;
}

.btn:hover {
	background-color: #fba6a6;
	color: #000000;
	border: 3px solid #001F61;
}



.floating-btn {
	border-radius: 26.5px;
	background-color: #000000;
	border: 1px solid #000000;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #6b6565;
	color: #000000;
}


.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #000000;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}



body,html {
	margin: 0;
	font: bold 14px/1.4 'Open Sans', arial, sans-serif;
	background: #000;
  }
  ul { 
	margin: 150px auto 0; 
	padding: 0; 
	list-style: none; 
	display: table;
	width: 600px;
	text-align: center;
  }
  li { 
	display: table-cell; 
	position: relative; 
	padding: 15px 0;
  }
  a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.15em;
	
	display: inline-block;
	padding: 15px 20px;
	position: relative;
  }
  a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
  }
  a:hover:after { 
	width: 100%; 
	left: 0; 
  }
  @media screen and (max-height: 300px) {
	ul {
	  margin-top: 40px;
	}
  }


@media screen and (max-width: 480px) {
	
	.floating-btn {
		right: 10px;
	}



}