<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/styles.css">
	<script src="js/script.js"></script>
 </head>
 
 <body>

	<style>
		.card {
		  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		  transition: 0.3s;
		  width: 40%;
		  border-radius: 5px;
		}
		
		.card:hover {
		  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}
		
		img {
		  border-radius: 5px 5px 0 0;
		}
		
		.container {
		  padding: 2px 16px;
		}
		</style>
		</head>
		<body>
		
		<h2>Round Card</h2>
		

	

<div class='container'>
	{% for item in collection_missing_people: %}
	<div class="card">
		<img src="{{ item.url_image }}" alt="Avatar" style="width:100%">
		<div class="container">
		  <h4><b>{{ item.date_create }}</b></h4> 
		  <p>{{ item.url_html_page }}</p> 
		  <P>{{ item.description }}</P>
		</div>
	  </div>
	{% endfor %}
</div>  

</body>
</html>