<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <title>Missing People</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
	
</head>

<body>

	<ul>
		<li><a href="/missing_people_lizaalert">Люди LizaAlert</a></li>
		<li><a href="/missing_people_mvd">МВД розыск</a></li>
		<li><a href="/missing_people_child">Пропавшие дети</a></li>
		<li><a href="/missing_people_die">Погибшие не опознанные</a></li>
		<li><a href="/missing_people_unidentify">Без вести пропавшие</a></li>
		<li><a href="/missing_people_alert">Розыск подозреваемых</a></li>
	  </ul>

	<div class="container">

		<div>
			<div class="courses-container">
				<div class="course">
					<div class="course-preview">
						<a href="/view/{{ people.url_image }}"><img src="{{ people.url_image }}"></a>
					</div>
					<div class="course-info">
						<h5>
							<span>
								ID: [{{ people.id }}]
							</span>
						<h5>

						<hr>

						<h2>{{ people.title }}</h2>

						<hr>

						<h5>{{ people.description }}</h5>
						<hr>
						<a href="{{ people.url_html_page }}">Источник</a>
						<a class="btn" href="/view/{{ people.id }}">Подробнее<i class="fas fa-chevron-right"></i></a>
					</div>
				</div>
			</div>
	</div>

</body>

</html>